/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(/images/cover-image-light.png);
  
  --accent-color: rgba(255, 141, 203, 1);
  --background-color: rgba(53, 52, 48, 1);
  --title-font: 'IBM Plex mono';
  --title-color: rgba(255, 141, 203, 1);
  --title-shadow-color: rgba(255, 0, 112, 1);
  --text-color: rgba(53, 52, 48, 1);
  --decoration-color:  rgba(53, 52, 48, 1);
}

.page.theme_light .header_decoration {
  display:none;
}


@media (prefers-color-scheme: light) {
  :root {
    --accent-color: rgba(255, 141, 203, 1);
  --background-color: rgba(53, 52, 48, 1);
  --title-font: 'IBM Plex mono';
  --title-color: rgba(255, 141, 203, 1);
  --title-shadow-color: rgba(255, 0, 112, 1);
  --text-color: rgba(53, 52, 48, 1);
  --decoration-color:  rgba(53, 52, 48, 1);
  }
  
.page {
  background-image: url(/images/cover-image-light.png);
}
}