:root {
  --accent-color: rgba(255, 0, 112, 1);
  --background-color: rgba(0, 0, 40, 1);
  --title-font: 'IBM Plex mono';
  --title-color: rgba(219, 0, 255, 1);
  --text-color: rgba(241, 178, 206, 1);
  --title-shadow-color: rgba(255, 0, 112, 1);
  --decoration-color: rgba(255, 0, 112, 1);
}










/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
