:root {
  --accent-color: rgba(255, 0, 112, 1);
  --title-text: rgba(0, 0, 40, 1);
  --background-color: rgba(0, 0, 40, 1);
  --title-font: 'IBM Plex mono';
  --title-color: rgba(219, 0, 255, 1);
  --text-color: rgba(241, 178, 206, 1);
  --title-block-text: rgba(0, 0, 40, 1);
  --title-shadow-color: rgba(255, 0, 112, 1);
  --decoration-color: rgba(255, 0, 112, 1);
  --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
  --hover-color: rgba(255, 0, 112, 0.4);
  --decoration-link: rgba(241, 178, 206, 1);
}

@media (width <= 768px) {
  :root {
    --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
